.boldh4
{
    font-weight:bold;
}

.div-form
{
    margin-top:15%;
}

.boldp 
{
    font-weight:600;
}

.boldh4
{
    font-size:2.5em;
}

button
{
    border: 1px solid #DC143C !important;
    color: white !important;
    background-color: #DC143C !important;
    width: 150px;
}

button:hover 
{
     border: 1px solid #fcba3a !important;
     border-radius: 50px 10px !important;
     color: white !important;
     background-color: #fcba3a !important;
     width: 150px;
}


@media (min-width:768px) and (max-width: 992px) 
{
    .div-form {
        margin-top: 25%;
    }
}

@media (max-width: 992px)
{
    .div-form {
        margin-top: 25%;
    }
    .boldh4 {
        font-size: 2.1em;
    }
}